node_modules/
npm-debug.log
/.idea/
/tls.cert
*.log
*.env
*.DS_Store
logs/
*.bak
lb_settings.json
.nyc_output
coverage
.todo
data/
.env.local
ui/dist
umbrel@umbrel.local
.vscode/launch.json
.vscode/diff/vulsCount.txt
.vscode/settings.json
.eslintrc.json
.vscode/diff/vulsCount.txt
.vscode/settings.json
.eslintrc.json
utils/const.js
